body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
}

header img {
    margin-top: 20px;
}

h1, h2 {
    color: #00274D; /* Dark blue for a professional look */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
}

#countdown {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    margin-top: 20px;
}
